body {
	margin: 0;
	background-color: #ddd;
}

nav li {
	display: inline-block;
	display: list-item;

	/*margin-left: 6px;
	list-style-type: circle;
	*/
}
/*nav {

	background-color: rgb(51,51,51);
}

.hero-image {
	width: 100%;
}

li:first-child {
	color: green;
}
*/